<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-alpha4-10606" targetFramework="net451" />
  <package id="EntityFramework.Migrations" version="7.0.0-alpha4-10606" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-alpha4-10606" targetFramework="net451" />
  <package id="EntityFramework.SqlServer" version="7.0.0-alpha4-10606" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-alpha4-10243" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-alpha4-10237" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-alpha4-10239" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-alpha4-10239" targetFramework="net451" />
  <package id="Microsoft.Framework.Runtime.Interfaces" version="1.0.0-alpha4-10304" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.13.0" targetFramework="net451" />
  <package id="System.Data.Common" version="1.0.0-alpha4-10232" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="1.0.0-alpha4-10240" targetFramework="net451" />
</packages>