# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/azure-pipelines.yml                    @AndriySvyryd
/azure-pipelines-public.yml             @AndriySvyryd
/azure-pipelines-internal-tests.yml     @AndriySvyryd
/github-merge-flow.jsonc                @AndriySvyryd
/global.json                            @AndriySvyryd
/NuGet.config                           @AndriySvyryd
/.config/                               @AndriySvyryd
/.github/                               @dotnet/efteam
/eng/                                   @AndriySvyryd
/src/                                   @dotnet/efteam
/test/                                  @dotnet/efteam
