# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/azure-pipelines.yml                    @AndriySvyryd @maumar
/azure-pipelines-public.yml             @AndriySvyryd @maumar
/eng/                                   @AndriySvyryd @maumar
/eng/common/                            @dotnet-maestro-bot @AndriySvyryd @maumar
/eng/Versions.props                     @dotnet-maestro-bot @AndriySvyryd @maumar
/eng/Version.Details.xml                @dotnet-maestro-bot @AndriySvyryd @maumar
