version: 2
updates:
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
    allow:
      - dependency-name: Azure.Identity
      - dependency-name: Azure.ResourceManager.CosmosDB
      - dependency-name: Castle.Core
      - dependency-name: Grpc.AspNetCore
      - dependency-name: Humanizer.Core
      - dependency-name: Microsoft.AspNetCore.Identity.EntityFrameworkCore
      - dependency-name: Microsoft.AspNetCore.OData
      - dependency-name: Microsoft.Azure.Cosmos
      - dependency-name: Microsoft.CSharp
      - dependency-name: Microsoft.Data.SqlClient
      - dependency-name: Microsoft.DotNet.PlatformAbstractions
      - dependency-name: Microsoft.SqlServer.Types
      - dependency-name: mod_spatialite
      - dependency-name: Mono.TextTemplating
      - dependency-name: NetTopologySuite*
      - dependency-name: Newtonsoft.Json      
      - dependency-name: OpenTelemetry.Exporter.InMemory      
      - dependency-name: SQLitePCLRaw*
    ignore:
      # Infrastructure
      - dependency-name: Microsoft.DotNet.Arcade.Sdk
      - dependency-name: Microsoft.DotNet.Helix.Sdk
      # Affects minimum required Visual Studio version
      - dependency-name: Microsoft.CodeAnalysis.*
      - dependency-name: Microsoft.Build.*
      # New analyzer rules would need to be disabled
      - dependency-name: DotNetAnalyzers.DocumentationAnalyzers
      - dependency-name: StyleCop.Analyzers
      # Benchmarking infrastructure should be intentionally updated
      - dependency-name: BenchmarkDotNet
    labels:
      - area-infrastructure
    registries: '*'

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - area-infrastructure
