version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/eng/dependabot"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    ignore:
      # Infrastructure SDKs are updated through a different mechanism
      - dependency-name: Microsoft.DotNet.Arcade.Sdk
      - dependency-name: Microsoft.DotNet.Helix.Sdk
    labels:
      - "area-infrastructure"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "area-infrastructure"
