.DS_Store
*.db
*.suo
*.user
/.nuget/
/.vs/
/artifacts/
/packages/
/src/Microsoft.Data.Sqlite/runtimes/
bin/
obj/
project.lock.json
.settings
*.sublime-*

# Ignore vagrant - used for cross-platform testing
.vagrant/
Vagrantfile
