.DS_Store
*.db
*.db-journal
*.suo
*.user
*.iml
/.nuget/
/.vscode/
/.dotnet/
/.idea/
/.vs/
/.vscode/
/artifacts/
/packages/
bin/
obj/
project.lock.json
.settings
*.sublime-*
*.pfx
launchSettings.json
/.build/
.testPublish/
*.project.lock.json
*.nuget.props
*.nuget.targets
sqlite3.dll
