#
# See https://docs.microsoft.com/en-us/vsts/pipelines/yaml-schema for details
#

# Only run CI builds for these branches
trigger:
  branches:
    include:
    - 'master'
    - 'release/*'
# Run PR validation on all branches
pr:
  branches:
    include:
    - '*'

name: $(Date:yyyyMMdd)-$(Rev:rr)

jobs:
- template: build/templates/default-build.yml
  parameters:
    agentOs: Windows
    codeSign: true
    configuration: Release
    artifacts:
      publish: true
      name: packages
      path: 'artifacts/build/'

- template: build/templates/default-build.yml
  parameters:
    agentOs: macOS
    configuration: Release
    buildArgs: /bl:artifacts/log/Build.binlog
    artifacts:
      publish: true
      path: 'artifacts/log/'

- template: build/templates/default-build.yml
  parameters:
    agentOs: Linux
    configuration: Release
