trigger:
  branches:
    include:
      - main

variables:
- template: /eng/common/templates/variables/pool-providers.yml

stages:
- stage: build
  displayName: Build
  jobs:
    - template: eng/common/templates/jobs/jobs.yml
      parameters:
        enableMicrobuild: true
        enableRichCodeNavigation: true
        helixRepo: dotnet/efcore
        jobs:
          - job: Windows
            timeoutInMinutes: 90
            enablePublishTestResults: true
            pool:
              name: $(DncEngPublicBuildPool)
              demands: ImageOverride -equals 1es-windows-2019-open
            steps:
              - task: NuGetCommand@2
                displayName: 'Clear NuGet caches'
                condition: succeeded()
                inputs:
                  command: custom
                  arguments: 'locals all -clear'

              - task: PowerShell@2
                inputs:
                  filePath: $(Build.SourcesDirectory)\eng\common\build.ps1
                  arguments: -restore -build -ci
                displayName: Build
