variables:
  - name: _BuildConfig
    value: Release
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: true
  - name: _PublishUsingPipelines
    value: true
  - name: _CosmosConnectionUrl
    value: https://localhost:8081
  - name: _CosmosToken
    value: C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
  - group: DotNet-HelixApi-Access
  - name: _InternalRuntimeDownloadArgs
    value: /p:DotNetRuntimeSourceFeed=https://ci.dot.net/internal /p:DotNetRuntimeSourceFeedKey=$(dotnetbuilds-internal-container-read-token-base64)
  - name: LC_ALL
    value: 'en_US.UTF-8'
  - name: LANG
    value: 'en_US.UTF-8'
  - name: LANGUAGE
    value: 'en_US.UTF-8'
  - template: /eng/common/templates-official/variables/pool-providers.yml@self
trigger:
  batch: true
  branches:
    include:
      - main
      - release/*
      - feature/*
      - internal/release/*
pr: ['*']
resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release
extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    featureFlags:
      autoBaseline: false
      autoEnableRoslynWithNewRuleset: false  
    sdl:
      createAdoIssuesForJustificationsForDisablement: false
      sourceAnalysisPool:
        name: $(DncEngInternalBuildPool)
        image: 1es-windows-2022
        os: windows
      enabled: false
      baseline:
        baselineFile: $(Build.SourcesDirectory)\.config\guardian\.gdnbaselines
      binskim:
        preReleaseVersion: '4.3.1'
        enabled: false
        justificationForDisabling: 'NonProduction'
      policheck:
        enabled: false
        justificationForDisabling: 'NonProduction'
      tsa:
        enabled: false
        justificationForDisabling: 'NonProduction'
      antimalwareScan:
        enabled: false
        justificationForDisabling: 'NonProduction'
      prefast:
        enabled: false
        justificationForDisabling: 'NonProduction'
      codeQL:
        compiled:
          enabled: false
          justificationForDisabling: 'NonProduction'
      psscriptanalyzer:
        enabled: false
        justificationForDisabling: 'NonProduction'
      credscan:
        enabled: false
        justificationForDisabling: 'NonProduction'
      spmi:
        enabled: false
        justificationForDisabling: 'NonProduction'
      componentgovernance:
        enabled: false
        justificationForDisabling: 'NonProduction'
      eslint:
        enabled: false
        justificationForDisabling: 'NonProduction'
      armory:
        enabled: false
        justificationForDisabling: 'NonProduction'
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: build
      displayName: Build
      jobs:
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enablePublishBuildArtifacts: true
          enablePublishBuildAssets: false
          enablePublishTestResults: true
          publishAssetsImmediately: true
          isAssetlessBuild: true
          enableTelemetry: true
          helixRepo: dotnet/efcore
          jobs:
          - job: Windows
            pool:
              name: $(DncEngInternalBuildPool)
              demands: ImageOverride -equals 1es-windows-2022
              os: windows
            timeoutInMinutes: 180
            variables:
              - _InternalBuildArgs: ''
              # Rely on task Arcade injects, not auto-injected build step.
              - skipComponentGovernanceDetection: true
            steps:
              - task: NuGetCommand@2
                displayName: 'Clear NuGet caches'
                condition: succeeded()
                inputs:
                  command: custom
                  arguments: 'locals all -clear'
              - script: "echo ##vso[build.addbuildtag]daily-build"
                condition: and(notin(variables['Build.Reason'], 'PullRequest'), ne(variables['IsFinalBuild'], 'true'))
                displayName: 'Set CI tags'
              - script: "echo ##vso[build.addbuildtag]release-candidate"
                condition: and(notin(variables['Build.Reason'], 'PullRequest'), eq(variables['IsFinalBuild'], 'true'))
                displayName: 'Set CI tags'
              - powershell: SqlLocalDB start
                displayName: Start LocalDB
              - template: /eng/common/templates-official/steps/enable-internal-sources.yml
              - template: /eng/common/templates-official/steps/enable-internal-runtimes.yml
              - script: eng\common\cibuild.cmd -configuration $(_BuildConfig) -prepareMachine $(_InternalBuildArgs) $(_InternalRuntimeDownloadArgs)
                env:
                  Test__Cosmos__DefaultConnection: $(_CosmosConnectionUrl)
                displayName: Build
          - job: macOS
            pool:
              name: Azure Pipelines
              image: macOS-15
              os: macOS
            variables:
              # Rely on task Arcade injects, not auto-injected build step.
              - skipComponentGovernanceDetection: true
            steps:
              - template: /eng/common/templates-official/steps/enable-internal-sources.yml
              - template: /eng/common/templates-official/steps/enable-internal-runtimes.yml
              - script: eng/common/build.sh --restore --build --test --pack --ci --configuration $(_BuildConfig) --prepareMachine $(_InternalRuntimeDownloadArgs)
                env:
                  Test__Cosmos__DefaultConnection: $(_CosmosConnectionUrl)
                  # Work-around for https://github.com/dotnet/runtime/issues/70758
                  COMPlus_EnableWriteXorExecute: 0
                displayName: Build
          - job: Linux
            timeoutInMinutes: 180
            pool:
              name: $(DncEngInternalBuildPool)
              demands: ImageOverride -equals 1es-ubuntu-2204
              os: linux
            variables:
              # Rely on task Arcade injects, not auto-injected build step.
              - skipComponentGovernanceDetection: true
            steps:
              - template: /eng/common/templates-official/steps/enable-internal-sources.yml
              - template: /eng/common/templates-official/steps/enable-internal-runtimes.yml
              - script: eng/common/build.sh --restore --build --test --pack --ci --configuration $(_BuildConfig) --prepareMachine $(_InternalRuntimeDownloadArgs)
                displayName: Build
                env:
                  Test__Cosmos__DefaultConnection: $(_CosmosConnectionUrl)
                name: Build
            templateContext:
              sdl:
                binskim:
                  preReleaseVersion: ''
          - job: Helix
            timeoutInMinutes: 180
            pool:
              name: $(DncEngInternalBuildPool)
              demands: ImageOverride -equals 1es-windows-2022
              os: windows
            variables:
              # Rely on task Arcade injects, not auto-injected build step.
              - skipComponentGovernanceDetection: true
              - name: _HelixBuildConfig
                value: $(_BuildConfig)
              - name: HelixTargetQueues
                value: Windows.10.Amd64;OSX.15.Amd64;OSX.15.ARM64;Ubuntu.2204.Amd64@mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-22.04-helix-sqlserver-amd64
              - name: _HelixAccessToken
                # Needed for internal queues
                value: $(HelixApiAccessToken)
            steps:
              - task: NuGetCommand@2
                displayName: 'Clear NuGet caches'
                condition: succeeded()
                inputs:
                  command: custom
                  arguments: 'locals all -clear'
              - template: /eng/common/templates-official/steps/enable-internal-sources.yml
              - template: /eng/common/templates-official/steps/enable-internal-runtimes.yml
              - ${{ if ne(variables['System.TeamProject'], 'public') }}:
                - template: /eng/common/core-templates/steps/get-delegation-sas.yml
                  parameters:
                    federatedServiceConnection: 'dotnetbuilds-internal-read'
                    outputVariableName: 'dotnetbuilds-internal-container-read-token'
                    expiryInHours: 1
                    base64Encode: false
                    storageAccount: dotnetbuilds
                    container: internal
                    permissions: rl
              - script: restore.cmd -ci /p:configuration=$(_BuildConfig) $(_InternalRuntimeDownloadArgs)
                displayName: Restore packages
              - script: .dotnet\dotnet build eng\helix.proj /restore /t:Test /p:configuration=$(_BuildConfig) /bl:$(Build.SourcesDirectory)/artifacts/log/$(_BuildConfig)/SendToHelix.binlog $(_InternalRuntimeDownloadArgs)
                displayName: Send job to helix
                env:
                  HelixAccessToken: $(_HelixAccessToken)
                  # We need to set this env var to publish helix results to Azure Dev Ops
                  SYSTEM_ACCESSTOKEN: $(System.AccessToken)
                  MSSQL_SA_PASSWORD: "PLACEHOLDERPass$$w0rd"
                  # Work-around for https://github.com/dotnet/runtime/issues/70758
                  COMPlus_EnableWriteXorExecute: 0
                  DotNetBuildsInternalReadSasToken: $(dotnetbuilds-internal-container-read-token)
