<#
    Session["ResourceFile"] = "SqliteStrings.resx";
    Session["LoggingDefinitionsClass"] = "Diagnostics.Sqlite.Internal.SqliteLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>