<#
    Session["ResourceFile"] = "DesignStrings.resx";
    Session["LoggingDefinitionsClass"] = "DesignLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>