<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-alpha4-10672" targetFramework="net451" />
  <package id="EntityFramework.Migrations" version="7.0.0-alpha4-10672" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-alpha4-10672" targetFramework="net451" />
  <package id="EntityFramework.SqlServer" version="7.0.0-alpha4-10672" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-alpha4-10265" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Json" version="1.0.0-alpha4-10265" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-alpha4-10258" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-alpha4-10261" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-alpha4-10261" targetFramework="net451" />
  <package id="Microsoft.Framework.Runtime.Interfaces" version="1.0.0-alpha4-10329" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.13.0" targetFramework="net451" />
  <package id="System.Data.Common" version="1.0.0-alpha4-10253" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="1.0.0-alpha4-10276" targetFramework="net451" />
</packages>