<#
    Session["ResourceFile"] = "SqlServerStrings.resx";
    Session["LoggingDefinitionsClass"] = "Diagnostics.Internal.SqlServerLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>