<#
    Session = new System.Collections.Generic.Dictionary<string, object>();
    Session["ResourceFile"] = "SqlServerStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.SqlServer.Properties";
    Session["LoggingDefinitionsClass"] = "Diagnostics.Internal.SqlServerLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>