<#
    Session = new System.Collections.Generic.Dictionary<string, object>();
    Session["ResourceFile"] = "AbstractionsStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Properties";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>