<#
    this.Session = new Dictionary<string, object>();
    this.Session["ResourceFile"] = "InMemoryStrings.resx";
    this.Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.InMemory.Properties";
    this.Session["LoggingDefinitionsClass"] = "Diagnostics.Internal.InMemoryLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #><#@ import namespace="System.Runtime.Remoting.Messaging" #>