<#
    Session["ResourceFile"] = "InMemoryStrings.resx";
    Session["LoggingDefinitionsClass"] = "Diagnostics.InMemory.Internal.InMemoryLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>