<#
    Session = new System.Collections.Generic.Dictionary<string, object>();
    Session["ResourceFile"] = "ProxiesStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Properties";
    Session["LoggingDefinitionsClass"] = "ProxiesLoggingDefinitions";
    Session["NoDiagnostics"] = true;
    Session["ExperimentalAttributeArgument"] = "EFDiagnostics.ProxiesInternalUsage";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>