<#
    Session["ResourceFile"] = "ProxiesStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Properties";
    Session["LoggingDefinitionsClass"] = "ProxiesLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>