<#
    Session["ResourceFile"] = "XGJsonStrings.resx";
    Session["LoggingDefinitionsClass"] = "XGJsonLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>