-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail efdatabuildteam@microsoft.com
-TsaCodebaseAdmin NORTHAMERICA\sampatel
-TsaBugAreaPath "DevDiv\Entity Framework"
-TsaIterationPath DevDiv
-TsaRepositoryName efcore
-TsaCodebaseName efcore
-TsaOnboard $True
-TsaPublish $True
