<#
    Session["ResourceFile"] = "RelationalStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Properties";
    Session["LoggingDefinitionsClass"] = "RelationalLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>