<#
    Session["ResourceFile"] = "Resources.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Tools.Properties";
    Session["AccessModifier"] = "internal";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>