<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-beta1-10966" targetFramework="net451" />
  <package id="EntityFramework.Migrations" version="7.0.0-beta1-10966" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-beta1-10966" targetFramework="net451" />
  <package id="EntityFramework.SqlServer" version="7.0.0-beta1-10966" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.2-withwpa81" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta1-10347" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Json" version="1.0.0-beta1-10347" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Shared" version="1.0.0-beta1-10347" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta1-10348" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta1-10333" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta1-10333" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net451" />
  <package id="System.Data.Common" version="1.0.0-beta1-10322" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="1.0.0-beta1-10354" targetFramework="net451" />
</packages>