<#
    Session = new System.Collections.Generic.Dictionary<string, object>();
    Session["ResourceFile"] = "SqlServerNTSStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.SqlServer.Properties";
    Session["LoggingDefinitionsClass"] = "SqlServerNtsLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>