<#
    Session = new System.Collections.Generic.Dictionary<string, object>();
    Session["ResourceFile"] = "CoreStrings.resx";
    Session["ResourceNamespace"] = "Microsoft.EntityFrameworkCore.Properties";
    Session["LoggingDefinitionsClass"] = "LoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>